<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <h1>Recetas saludables Dulces</h1>
    <h2>Lemon pie </h2>
    <div class="colorverde">
    <p> <b>Esta receta les va a encantar. Es que cuando la prueben será su tarta de limón de cabecera ya verán, luego me cuentan.</b> </p>
</div> 
<div class="img">
    <img src="../img/lemon-pie-portada-web.jpg" width="500" height="200" alt="Imagen lemon pie">
</div>
    <h3>Ingredientes:</h3>
   <ul type="square">
    <li>200g. de galletitas de vainilla</li>
    <li>4 huevos</li>
    <li>1 lata de leche condensada</li>
    <li>1/2 vaso de jugo de limón</li>
    <li>Ralladura de medio limón</li>
    <li>200g de azúcar</li>
    <li>70g. de manteca</li>

   </ul>
   <div class="img">
    <iframe width="500" height="200%" src="https://www.youtube.com/embed/9yuxHcfTczw" title="Cómo hacer lemon pie FÁCIL Y RÁPIDO (receta de postre rápido!!!)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   <hr>
</div>
   <h3>Preparación:</h3>
    <ol type="1">
   <li>Moler 200 gr de galletitas de vainilla y colocar en un recipiente.</li>
   <li>Agregar 80-100 gr de manteca derretida. Utilizamos las manos para mezclar hasta que quede con consistencia de arena mojada (ustedes me entienden).</li>
   <li>Desparramar la preparación obtenida en una tartera. Aplastarlo bien con las manos.</li>
   <li>Por otro lado la crema de limón: separamos yemas y claras de 4 huevos. Colocamos las yemas en un recipiente, agregamos una lata (400gr) de leche condensada y mezclar. Esta receta de lemon pie lleva medio vaso de jugo de limón que se lo agregamos en este momento, junto con rayadura de cáscara. Batimos hasta lograr una consistencia espesa.</li>
   <li>Agregamos la crema de limón encima de la masa que preparamos al principio en la tartera.</li>
   <li>Y ahora el merengue francés: empezamos batiendo las 4 claras con batidora hasta que levanten (como si fuera espuma). Agregamos 200 gr de azucar en forma de lluvia sin dejar de batir, seguimos batiendo hasta lograr la consistencia deseada (bien espeso).</li>
   <li>Agregamos el merengue encima de la crema de limón en la tartera. Con una cuchara distribuimos y damos al merengue la forma que deseamos (o la que podamos).</li>
   <li>Poner al horno (en la bandeja más alta posible o en la parrilla del horno) bien caliente. Estén atentos que es apenas un ratito para que se dore el merengue!</li>
   <li>La receta de lemon pie está lista!</li>

</ol>
   <a href="../../index.html">Pagina principal</a>
   <hr>
   <h2> Muffins integrales sin azúcar</h2>
 <div class="colorverde">
   <p> <b>Seguimos haciendo recetas a pedido del público. Hace mucho me vienen solicitando en las diferentes redes una receta de muffins integrales .<br> Les cuento que estos muffins además no contienen azúcar, por lo que además de ser aptos para diabéticos resultan mucho más sanos y saludables para cualquiera que quiera cuidarse un poco. </b> </p>
</div>
<div class="img">
   <img src="../img/muffins-integrales.jpg" width="500xp" height="200" alt=" imagen muffins">
</div>
   <h3>Ingredientes:</h3>
     <ul type="square">
    <h4> Para 1 docena de muffins</h4> 
       <li>2 bananas bien maduras</li> 
        <li>3/4 tazas de harina integral</li>
        <li>1/2 taza de harina 0000</li>
        <li>1 huevo</li>
        <li> 1 cdita. de polvo para hornear</li>
        <li>1 cdita. de canela</li>
        <li>1/3 de taza de aceite.</li>
        <li>2/3 sobres de stevia</li>
    </ul>
      <div class="img">
    <iframe width="500" height="200" src="https://www.youtube.com/embed/TelEe8W5U6M" title="MUFFINS INTEGRALES SIN AZÚCAR ¡ESPONJOSOS! (magdalenas integrales)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr>
</div>
    <h3>Preparación </h3>
    <ol type="1">
        <li>Pelar las bananas y pisarlas en un plato con un tenedor. Como dije más arriba, lo mejor es utilizar bananas bien maduras para que éste paso sea más fácil.</li>
        <li>Cuando la banana esté totalmente pisada vamos a correrla a un costado del plato o recipiente en donde la pisamos, agregar un huevo y batirlo.</li>
        <li>Agregar la stevia al huevo y mezclar todo hasta integrar con la banana. Como digo siempre la cantidad de stevia depende de cuan dulceros son. A estos muffins integrales les puse 3 sobres, si quieren más dulces pueden agregar uno mas.</li>
        <li>Al terminar de integrar todo agregamos la harina integral mientras mezclamos con un tenedor.</li>
        <li>Cuando está totalmente unido añadimos la harina común y el polvo para hornear y seguimos mezclando con el tenedor hasta integrar. Lo hago con un tenedor porque con máquina se forma un bodoque inmanejable, háganme caso que triunfarán.</li>
        <li>Una vez que esté mas o menos unido incorporamos el aceite puede ser cualquier aceite neutro: de girasol o de maíz. Volvemos a mezclar muy bien.</li>
        <li>Añadir canela, y si tienen jengibre pónganle un poquito que quedará increíble. Yo no le puse porque no tenía en casa, pero éstos muffins integrales quedan riquísimos combinados con jengibre.</li>
        <li>Cuando tengan una especie de bola bastante compacta que se separa de los bordes del plato vamos a colocarla en pirotines para magdalenas. Ojo, ésta masa es diferente a las masas tradicionales de muffins, bizcochuelos o budines. Verán que es una masa más liquida, pero éste es el secreto para que los muffins integrales queden esponjosos y bien tiernos. Los repartimos en los pirotines dejando un margen de unos centímetros ya que al cocinarse se agrandarán. Un tip importante: no tlos aplasten! como cae con la cuchara la masa, así debe quedar.</li>
        <li>Hornear a 180º durante 40 minutos o hasta que vean los muffins bien dorados.</li>
    </ol>
   <div class="colorcyan">
<a href="../views/Recetas saladas.html">Recetas saladas </a><br>

   <a href="public/views/Recetas dulces.html">Recetas dulces </a><br>
</div>
</body>
</html>