<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <h1>Recetas saludables Saladas </h1>
    <h2>Tortilla rellena española</h2>
   <div class="colorverde">
    <p ><b>En el mundo de la gastronomía, la Tortilla Rellena es un plato icónico Español que ha conquistado corazones y estómagos en todo el mundo, amado por su simplicidad y versatilidad.</b></p>
</div>
<div class="img">
    <img src="../img/tortilla-rellena-espanola.jpg" width="500" height="200" alt="Tortilla Española">
</div>
    <h3>Ingredientes</h3>

    <ul type="square">
        <li>3 papas mediadas</li>
        <li>1/2 cebolla</li>
        <li>1 chorizo</li>
        <li>queso fresco</li>
        <li>sal</li>
        <li>aceite</li>
        <li>4 huevos</li>
    
       </ul>
       
       <h3>Preparación:</h3>
       <ol type="1">
        <li>Pelar las patatas y cortarlas en rodajas finas. Remojarlas en agua durante unos minutos para eliminar el exceso de almidón. Escurrir y secar bien.</li>
        <li>En una sartén grande, calentar una cantidad generosa de aceite de girasol a fuego medio-bajo. Añadir las patatas y la cebolla cortada en juliana (si se desea). Cocinar a fuego lento, removiendo ocasionalmente, hasta que estén tiernas pero no doradas, aproximadamente 30-40 minutos.</li>
        <li>Mientras se cocinan las patatas, retirar la piel del chorizo y cortarlo en trozos pequeños. En otra sartén, cocinar el chorizo a fuego medio-alto sin añadir aceite, ya que liberará su propia grasa. Cocinar hasta que esté dorado y reservar.. </li>
        <li>En un bol grande, batir los huevos ligeramente. Agregar una pizca de sal y mezclar sin incorporar demasiado aire, para evitar que la tortilla quede esponjosa.</li>
        <li>Escurrir bien las patatas y la cebolla para eliminar el exceso de aceite. Añadirlas al bol con los huevos y mezclar suavemente. Incorporar el chorizo cocido y el queso rallado o en trozos pequeños.</li>
        <li>En una sartén limpia, añadir un poco de aceite y calentar a fuego medio. Verter la mitad de la mezcla de huevo y patata, distribuir la mezcla uniformemente sobre la sartén. Añadir el chorizo y el queso como relleno, luego cubrir con el resto de la mezcla. Cocinar hasta que la base esté dorada y firme.</li>
        <li>Con la ayuda de un plato grande o una tapa plana, voltear la tortilla con cuidado y deslizarla de nuevo en la sartén para cocinar el otro lado. Cocinar durante unos minutos más hasta que esté bien cocida por dentro y dorada por fuera.</li>
        <li>Dejar reposar la tortilla unos minutos antes de cortarla en porciones. Servir caliente o a temperatura ambiente, según se prefiera.</li>
       </ol>
       <div class="img">
    <iframe width="500" height="200%" src="https://www.youtube.com/embed/TquHaxfRyi4" title="Tortilla rellena y 3 consejos para hacer tortilla que nunca había escuchado ft. La Cocina del Pirata" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
    <a id="colorazul" href="../../index.html">Pagina principal</a>

<h2> Receta fácil de tarta invertida de cebollas</h2>
<div class="colorverde">
<p> <b>La tarta de cebollas invertida del día de hoy es una delicia que los va a sorprender, y cuidado que cuando vean el tremendo tip que les vamos a pasar no lo van a poder creer</b>  </p>
</div>
<div class="img">
<img src="../img/receta-facil-de-tarta-invertida-de-cebollas-1.jpg" width="500" height="200" alt="Tarta cebolla">
</div>
<h3>Ingredientes(8 porc) :</h3>
  <ul type="square">
<li>4 cebollas chicas</li>
<li>aceite de oliva</li>
<li>100g de manteca</li>
<li>4 cucharadas grandes de azúcar</li>
<li>1/2 taza de agua</li>
<li>tomillo a gusto</li>
<li>1 chorrito de aceite balsámico</li>
<li>2 dientes de ajo</li>
<li>9 cucharadas grandes de harina común</li>
<li>5 cucharadas grandes de aceite</li>
<li>7 cucharadas grandes de agua fría</li>  
<li>sal y pimienta a gusto</li>
<li>mostaza una cucharadita</li>
</ul>
<h3>Preparación </h3>
<ol type="1">
<li>Cortar las cebollas peladas a la mitad. En una sartén apta también para horno, poner un chorrito de aceite y derretir la manteca. Agregar el agua, el tomillo, la sal y el aceto.</li>
<li>Acomodar las cebollas con la parte ancha hacia abajo, añadir los ajos cortados en láminas finas y dejar hervir a fuego bajo hasta que casi no quede líquido. Retirar del fuego y reservar.</li>
<li>En un bol mediano mezclar la harina, el aceite, la sal, la pimienta y el agua helada hasta formar una masa bien integrada. Dejar reposar unos 5 minutos. </li>
<li>Estirar la masa con palote hasta darle la forma de la sartén y luego pintarla bien con mostaza Natura. Acomodar en la sartén con la mostaza hacia abajo, tapando las cebollas y metiendo los bordes hacia adentro. </li>
<li>Hornear en horno precalentado a 180° por 25 minutos aproximadamente. Debe estar cocida pero no tostada. Desmoldar enseguida poniendo un plato sobre la sartén y dándola vuelta con cuidado.</li>

</ol>
<div class="img">
<iframe width="500" height="200%" src="https://www.youtube.com/embed/I1eBZ5WPjHg" title="Intento hacer una Tarta de Cebollas invertida" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<a id="colorred" href="../../index.html">Pagina principal</a>
</body>
</html>